.container {
  width: 10%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 5px;
  color: white;
}

.swe {width: 100%; background-color: #4CAF50;}
.eng {width: 80%; background-color: #2196F3;}
.esp {width: 40%; background-color: #f44336;}