body {
	background-image: url("./bilder/bakgrund1.jpg");
  background-color: #cccccc;
  height: 1050px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

li, p {
	color: white;
	font-family: 'Roboto', sans-serif;
}

h1, h3 {
	color: white;
	font-family: 'Roboto Slab', serif;
}

img {
	border-radius: 50%
}

main {
	width:100%;
	margin-left: 0%;
}
aside {
		text-align:center;
		width: 50%;
		float: left;
		
}
section {
	width: 50%;
	margin-left: 50%;
}
.checked {
    color: orange;
}

.container {
  width: 10%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 2px;
  color: white;
}

.swe {width: 100%; background-color: #4CAF50;}
.eng {width: 80%; background-color: #2196F3;} 
.esp {width: 40%; background-color: #f44336;}
.java{width: 75%; background-color: #a00000;}
.html{width: 85%; background-color: #d00000;}
.css {width: 70%; background-color: #f00000;}
.cpp {width: 70%; background-color: #100000;}
.csp {width: 90%; background-color: #600000;}
